[Unit]
Description=rclone mount manager user mounts
Documentation=man:rclone(1)
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
Environment=RMM_CONFIG_FILE=@CONFIG_FILE@
ExecStart=@BIN_PATH@ run
Restart=on-failure
RestartSec=10
KillMode=mixed
TimeoutStopSec=45

[Install]
WantedBy=default.target
